*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}


html, body{
    height: 100%;
    width: 100%;
}

#nav{
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 140px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}

#nav img{
    height: 74px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -99;
}

#main{
    position: relative;
    background-color: rgb(0, 0, 0,0.45);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#page1 h1{
    font-size: 140px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}

#page1 h1::before{
    content: "Eat. Drink. Play.";
    position: absolute;
    color: #000;
    top: -5px;
    left: -5px;
    position: absolute;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;
}

#page1 h2{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p{
    font-size: 20px;
    font-weight: 300;
    width: 42%;
}

#page2{
    height: 100vh;
    width: 100%;
     
}