*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}


html, body{
    height: 100%;
    width: 100%;
}

*::selection{
    background-color: white;
    color: #95c11e;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    position: fixed;
    border-radius: 50%;
    z-index: 99;
}

#orb{
    height: 400px;
    width: 400px;
    background-color: #bdf21c35;
    position: fixed;
    border-radius: 50%;
    filter: blur(30px);
    z-index: 9;
}

#nav{
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 140px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}

#nav img{
    height: 74px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -99;
}

#main{
    position: relative;
    background-color: rgb(0, 0, 0,0.45);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1{
    font-size: 140px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}

#page1 h1::before{
    content: "Eat. Drink. Play.";
    position: absolute;
    color: #000;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;
}

#page1 h2{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p{
    font-size: 20px;
    font-weight: 300;
    width: 42%;
}

#page2{
    height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none
}

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 10;
}


#scroller h4{
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 30px;
    color: transparent;
    transition: all linear 0.5;
    -webkit-text-stroke: 2px #fff; 
}

#scroller h4:hover{
    color: #95c11e;
    -webkit-text-stroke: 0;
}

#about-us{
    height: 40vh;
    width: 100%;
    margin: 60px 0;
    display: flex;
    padding: 10px 100px;
    align-items: center;
    justify-content: space-around;
}

#about-us #img1{
    height: 190px;
    width: 190px;
    object-fit: cover;
    border-radius: 14px;
    margin-left: 40px;
    margin-top: 50px;
    opacity: 0.7;
}
#about-us #img2{
    height: 230px;
    width: 190px;
    object-fit: cover;
    border-radius: 14px;
    margin-left: 40px;
    margin-top: 50px;
    opacity: 0.7;
}

#about-us-in{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 120px;
}

#about-us-in h3{
    font-size: 60px;
}

#about-us-in p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 1.8;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}