*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}


html, body{
    height: 100%;
    width: 100%;
}

*::selection{
    background-color: white;
    color: #95c11e;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    position: fixed;
    border-radius: 50%;
    z-index: 99;
    pointer-events: none;
}

#orb{
    height: 400px;
    width: 400px;
    background-color: #bdf21c35;
    position: fixed;
    border-radius: 50%;
    filter: blur(30px);
    z-index: 9;
    pointer-events: none;
}

#nav{
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 140px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}

#nav img{
    height: 74px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -99;
}

#main{
    position: relative;
    background-color: rgb(0, 0, 0,0.45);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1{
    font-size: 140px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}

#page1 h1::before{
    content: "Eat. Drink. Play.";
    position: absolute;
    color: #000;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;
}

#page1 h2{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p{
    font-size: 20px;
    font-weight: 300;
    width: 42%;
}

#page2{
    /* min-height: 100vh; */
    width: 100%;
    z-index: 10;
}

#scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none
}

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 10;
}


#scroller h4{
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 30px;
    color: transparent;
    transition: all linear 0.5;
    -webkit-text-stroke: 2px #fff; 
}

#scroller h4:hover{
    color: #95c11e;
    -webkit-text-stroke: 0;
}

#about-us{
    height: 40vh;
    width: 100%;
    margin: 60px 0;
    display: flex;
    padding: 10px 100px;
    align-items: center;
    position: relative;
    z-index: 10;
    justify-content: space-around;
}

#about-us #img1{
    height: 190px;
    width: 190px;
    object-fit: cover;
    border-radius: 14px;
    margin-left: 40px;
    margin-top: 50px;
    opacity: 0.7;
}
#about-us #img2{
    height: 230px;
    width: 190px;
    object-fit: cover;
    border-radius: 14px;
    margin-left: 40px;
    margin-top: 50px;
    opacity: 0.7;
}

#about-us-in{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 120px;
}

#about-us-in h3{
    font-size: 60px;
}

#about-us-in p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 1.8;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}




#cards{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    height: 80%;
    width: 25%;

    position: relative;
    z-index: 10;
    border-radius: 20px;
}

#card1{
    background-position: center;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%2Fid%2FOIP.7IcBm7YdlgOVJ6mfdHdf5AHaJ3%3Fpid%3DApi&f=1&ipt=0f5a6960d6c6d9ab56b5be2d74a46202e84b6f22de1d30a1595251cb4efd98fa&ipo=images');
}
#card2{
    background-position: center;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%2Fid%2FOIP.PqjuYSldoTy1M3ILOT7cfQHaKX%3Fpid%3DApi&f=1&ipt=13690caf6884fd37394931365f1ae79d3a87710b4e5f710493da28b274a31fae&ipo=images');
}
#card3{
    background-position: center;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%2Fid%2FOIP.TRJ2P03-W400bnNjTa7WpQAAAA%3Fpid%3DApi&f=1&ipt=74d6bf67b2bf6e45ed56e4e08d6554e41c0756ce47366668cbbea884c34cbeab&ipo=images');
}



.title{
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600px;   
}
.card:hover .title{
    opacity: 0;
}

#overlay{
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    padding-top: 160px;
    padding: 50px;
    opacity: 0;
    transition: all ease 0.5s;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#overlay h2{
    color: #000;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}

#overlay p{
    color: #000;
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 18px;
}

.card:hover #overlay{
    opacity: 1;
}

#snacks{
    height: 70vh;
    width: 100%;
    padding: 100px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#snacks img{
    height: 450px;
    width: 700px;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 25px;
}

/* #snacks #content{
    width: 70%;
} */

#snacks h2{
    margin-bottom: 30px;
    font-size: 48px;
}

#snacks p{
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 19px;
}

#snacks #btn{
    margin-bottom: 30px;
    font-size: 16px;
    border: 3px #95c11e solid;
    border-radius: 35px;
    display: inline;
    padding: 10px 25px;
}